body {
    font-family: Arial;
    text-align: center;
    padding: 20px;
    background: #f0f0f0;
}

h1, h2 {
    color: #333;
}

.menu {
    margin-top: 30px;
}

.btn {
    display: block;
    margin: 15px auto;
    width: 200px;
    padding: 12px;
    background: #0077ff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

form {
    width: 300px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

input, select, textarea, button {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
}

button {
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}
